.form {
  margin-top: 40px;
}

.update-header {
  align-self: center;
  /* border-bottom: 3px solid rgb(174, 190, 37); */
  width: 300px;
  font-family: "Bowlby One SC", cursive;
  margin-top: 80px;
  text-align: center;
  font-size: 40px;
  color: rgb(62, 72, 100);
}
.updateContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

input#input {
  display: none;
}
label.form-label {
  cursor: pointer;
  overflow: visible;
}
label.form-label:hover {
  color: #f08aa0;
}
label {
  font-family: "Lato", sans-serif;
  color: rgb(62, 72, 100);
  font-size: 17px;
}

.formGroup {
  margin: 0px;
}

.detailsBox {
  border-top: 1px solid rgb(219, 157, 41);
}
