@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Lato:wght@700&display=swap");

.form {
  margin-top: 40px;
}

.create-header {
  align-self: center;
  /* border-bottom: 3px solid rgb(174, 190, 37); */
  width: 300px;
  font-family: "Bowlby One SC", cursive;
  margin-top: 80px;
  text-align: center;
  font-size: 40px;
  color: rgb(62, 72, 100);
}
.createContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
input#input {
  display: none;
}
label.form-label {
  cursor: pointer;
  overflow: visible;
}
label.form-label:hover {
  color: #f08aa0;
}

label {
  font-family: "Lato", sans-serif;
  color: rgb(62, 72, 100);
  font-size: 17px;
}

.form-control {
  border: 1px solid rgb(62, 72, 100);
  width: 350px;
}

.formgroup {
  margin: 0px;
  display: flex;
}

.detailsBox {
  border-top: 1px solid rgb(219, 157, 41);
}
