.container3 {
  padding: 5px;
  border: 1px solid #777;
  text-align: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  padding: 0;

  border-radius: 2px;
}

.MySpotName {
  font-size: 25px;
  color: rgb(62, 72, 100);
  padding: 10px;
  font-weight: 700;
}
.MySpotType {
  font-size: 20px;
  color: rgb(204, 134, 43);
  text-decoration: none;
}
a {
  text-decoration: none !important;
}
.MySpotImg {
  display: flex;
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.MyDetailsBtn {
  display: flex;
  align-items: center;
  /* margin-left: 1px; */
  padding-top: 0;
  font-size: 20px;
  color: white;
  border: 1px solid #f08aa0;
  background-color: #f08aa0;
  border-radius: 5px;
  font-weight: 500;
  padding-top: 0;
  padding-bottom: 0;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 15px;
}
.MyDetailsBtn:hover {
  cursor: pointer;
  display: flex;
  align-items: center;
  /* margin-left: 10px; */
  padding-top: 0;
  font-size: 20px;
  color: white;
  border: 1px solid rgb(232, 163, 163);
  background-color: rgb(232, 163, 163);
  border-radius: 5px;
  padding-top: 0;
  padding-bottom: 0;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 0px 1px 4px rgba(44, 43, 43, 0.463);
}
.editBtn {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 15px;
  color: white;
  border: 1px solid #272343;
  background-color: rgb(132, 148, 152);
  border-radius: 5px;
  font-weight: 500;
  height: 30px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
}
.editBtn:hover {
  cursor: pointer;
  display: flex;
  align-items: center;
  /* margin-left: 10px; */
  padding-top: 0;
  font-size: 15px;
  color: white;
  border: 1px solid #92919c;
  background-color: rgb(183, 199, 199);
  border-radius: 5px;
  padding-top: 0;
  padding-bottom: 0;
  height: 30px;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 0px 1px 4px rgba(44, 43, 43, 0.463);
}
.deleteBtn {
  display: flex;
  align-items: center;

  padding-top: 0;
  font-size: 15px;
  color: white;
  border: 1px solid #272343;
  background-color: rgb(194, 102, 77);
  border-radius: 5px;
  font-weight: 500;
  padding-top: 0;
  padding-bottom: 0;
  height: 30px;
  padding-right: 10px;
  padding-left: 10px;
}
.deleteBtn:hover {
  cursor: pointer;
  display: flex;
  align-items: center;
  /* margin-left: 10px; */
  padding-top: 0;
  font-size: 15px;
  color: white;
  border: 1px solid #272343;
  background-color: rgb(212, 46, 17);
  border-radius: 5px;
  padding-top: 0;
  padding-bottom: 0;
  height: 30px;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.MyBottomLayout {
  width: 100%;

  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
}

.edit {
  display: flex;
}
